.room-grid-view-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.room-grid-view-search-bar-container {
    width: 50%;
    position: relative;
}

.room-grid-view-search-bar {
    width: 100%;
    height: 100%;
    font-size: 16px;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgba(150, 150, 150, 0.5);
    padding: 0 10px 0 50px;
    transition: all 0.2s ease-in-out;
    background: none;
}

.room-grid-view-search-bar:hover {
    border: 1px solid rgba(150, 150, 150, 1);

}

.room-grid-view-search-bar:focus {
    border-color: #ef6c00;
}

.room-grid-view-search-icon {
    position: absolute;
    top: 25%;
    left: 15px;
    color: rgb(100,100,100)
}

.room-grid-view-search-bar::-webkit-search-decoration,
.room-grid-view-search-bar::-webkit-search-cancel-button,
.room-grid-view-search-bar::-webkit-search-results-button,
.room-grid-view-search-bar::-webkit-search-results-decoration {
  display: none;
}

.room-grid-view-card {
    height: 390px;
    background-size: cover;
    background-position: center;
    background-repeat: 'no-repeat';
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1dvh;
    position: relative;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

@media (max-width: 760px) {
    .room-grid-view-card {
        height: 150px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .room-grid-view-card::before {
        content: "";
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 1;
        border-radius: 10px;
    }

    .room-name-span {
        background: none !important;
        box-shadow: none !important;
        width: 150px !important;
        font-size: 32px !important;
        width: 80% !important;
    }

    .rooms-available-indicator-container {
        margin-right: 10px;
    }

    .room-grid-view-search-bar-container {
        width: 100%;
        height: 50px;
        position: relative;
        margin-bottom: 10px;
    }
    
    .room-grid-view-page-grid {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)) !important;
    }
}

@media (min-width: 3000px) {
    
}

.room-grid-view-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 165, 0, 0.3);
    z-index: 1;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    border-radius: 10px;
}

.room-grid-view-card:hover::after {
    opacity: 1;
}

.room-grid-view-page-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 20%));
    padding: 20px;
    max-width: 3000px;
    margin: auto;
    justify-content: center;
}

.rooms-available-indicator-container {
    margin-left: auto;
    background-color: white;
    width: 160px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
    gap: 10px;
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.1);
    z-index: 2
}

.dark-mode .rooms-available-indicator-container {
        background-color: black;
}

.room-status-color-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.room-name-span {
    display: flex;
    align-items: center;
    width: calc(100% - 20px);
    padding: 0 10px;
    height: 60px;
    background-color: #ef6c00;
    color: white;
    border-radius: 10px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.25);
    z-index: 2
}


.room-grid-view-btns-container {
    display: flex;
    justify-content: space-between;
}

.no-rooms-found-text {
    color: grey;
    font-size: 20px;
    margin: auto;
}